body{text-align: center;
    font-family: 'Lobster', cursive;
    background-color: chartreuse;
}
#head img{height: 100px;
width: 100px;}
#head{background-color: white;
color: orange;
margin-top: 0px;}
.main_div{background-color: cyan;
border-style:dotted dashed solid double;
border-color: whitesmoke;
border-width: 2px;
padding: 20px;
margin-top: 10px;
}
#camera,#snapshot{height: 300px;
width: 250px;
border-style:ridge;
border-color: red;
border-width: 1px;
box-shadow: 5px 10px 18px red;
}
.main_div label{width:250px;
background-color: whitesmoke;
padding: 5px;
margin: 0px;}
#capture,#result{width: 250px;
margin-top: 5px;
font-size: medium;}
.fotter_div{margin-bottom: 50px;}
.fotter_div img{height: 80px;}
.fotter_div h4{background-color: white;text-align: left;box-shadow: 15px 8px 18px rgb(113, 180, 235);border-radius: 18px;}
.copy_rightfotter{background-color: blue;color: gray;line-height: 3;bottom: 0px;position:fixed;width:100%;margin-top:31px;}
